@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-controller="Command" asp-action="Create">Create New Command</a><br />
    <a asp-controller="JointGroup" asp-action="Create">Create New Joint Group</a><br />
    <a asp-controller="NavalSquadron" asp-action="Create">Create New Naval Squadron</a>
</p>